In [15]:
import numpy as np
from sklearn.preprocessing import normalize
import keras
from keras.layers import Dense, Activation
from keras.utils import np_utils
from keras.models import Sequential

In [16]:
X = np.array([[0,0],[0,1],[1,0],[1,1]]).astype('float32')
y = np.array([[0],[1],[1],[0]]).astype('float32')
y = np_utils.to_categorical(y)

In [17]:
model = Sequential()
model.add(Dense(8,input_dim=2))
model.add(Activation("tanh"))
model.add(Dense(2))
model.add(Activation("sigmoid"))
model.compile(loss="categorical_crossentropy", optimizer="adam", metrics = ['accuracy'])

# Uncomment this line to print the model architecture
# xor.summary()

history = model.fit(X, y, epochs =1000, verbose=0)
score = model.evaluate(X, y)
print("\nAccuracy: ", score[-1])
print("\nPredictions:")
print(model.predict_proba(X))

4/4 [==============================] - 0s 6ms/step

Accuracy:  0.75

Predictions:
[[0.02617371 0.00111416]
 [0.05567423 0.8410239 ]
 [0.07311976 0.7993611 ]
 [0.83309424 0.9992271 ]]

### Student Admission Dataset

In [18]:
import pandas as pd

In [32]:
student_admission = pd.read_csv("./graduate-admissions/Admission_Predict.csv",index_col="Serial No.")

In [46]:
student_admission.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
Serial No.,,,,,,,
1,337,118,4,4.5,4.5,9.65,1
2,324,107,4,4.0,4.5,8.87,1
3,316,104,3,3.0,3.5,8.00,1
4,322,110,3,3.5,2.5,8.67,1
5,314,103,2,2.0,3.0,8.21,0

In [34]:
student_admission.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [35]:
student_admission.loc[student_admission["Chance of Admit "] >= 0.50,"Chance of Admit "] = 1
student_admission.loc[student_admission["Chance of Admit "] < 0.50,"Chance of Admit "] = 0

In [36]:
y = student_admission["Chance of Admit "]
student_admission.drop(columns=["Chance of Admit "],inplace = True)
y = np_utils.to_categorical(y)

In [37]:
X = normalize(student_admission)

In [38]:
s_ad = Sequential()
s_ad.add(Dense(128,input_dim=7))
s_ad.add(Activation("relu"))
s_ad.add(Dense(32))
s_ad.add(Activation("relu"))
s_ad.add(Dense(2))
s_ad.add(Activation("sigmoid"))
s_ad.compile("Adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [40]:
s_ad.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 128)               1024
_________________________________________________________________
activation_18 (Activation)   (None, 128)               0
_________________________________________________________________
dense_19 (Dense)             (None, 32)                4128
_________________________________________________________________
activation_19 (Activation)   (None, 32)                0
_________________________________________________________________
dense_20 (Dense)             (None, 2)                 66
_________________________________________________________________
activation_20 (Activation)   (None, 2)                 0
=================================================================
Total params: 5,218
Trainable params: 5,218
Non-trainable params: 0
_________________________________________________________________

In [47]:
X_train = X[:-100]
y_train = y[:-100]
X_test = X[300:]
y_test = y[300:]

In [48]:
s_ad.fit(X_train, y_train, epochs=1000, batch_size=100, verbose=0)

In [49]:
score = s_ad.evaluate(X_test, y_test)

100/100 [==============================] - 0s 197us/step

In [50]:
X.shape

(400, 7)

In [53]:
print("\nAccuracy: ", score[-1])
print("\nPredictions:")
print(s_ad.predict_classes(X_test))

Accuracy:  0.8899999856948853

Predictions:
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

Optimizers - https://ruder.io/optimizing-gradient-descent/index.html#rmsprop